html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

section {
    overflow: hidden!important;
}

.item .card {
    background: transparent;
}

.bakc-blue-claro {
    background-color: #DAF7FB;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.video__header {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.video__header .container {
    flex: 1;
    padding-top: 90px;
}

.video__header video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: auto;
}

.cont__heade {
    position: relative;
}

.cont__header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.61);
    opacity: 0.9;
}

.cont__header h1 {
    color: #0176BC;
    font-size: 3.9rem;
    margin-top: 120px;
}

.btn__star {
    position: relative;
    width: 277px;
    height: 60px;
    font-size: 1.5rem;
    color: #fff;
    background: #FF7A59;
    border-radius: 60px;
    margin-top: 40px;
}

.btn__star:before {
    content: "";
    position: absolute;
    height: 66px;
    width: 284px;
    border-radius: 60px;
    margin-top: -15px;
    margin-left: -82px;
    border: 1px solid #FF7A59;
}

.btn__star:hover{
    opacity: .8;
}

nav {
    position: fixed!important;
    position: relative;
    top: 0;
    width: 100%;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center;
    transition: 0.6s;
    background: transparent;
    color: #fff;
    z-index: 100000;
}

nav.sticky {
    background: #fff;
}

nav.sticky ul li a {
    color: #016DAD;
}

nav.sticky .logo {
    background: url(../img/logo-negro.png);
}

.navbar--logo {
    display: block;
    width: 68px;
    height: 62px;
    margin-left: 50px;
}

nav#navbar.sticky {
    box-shadow: 0px 0px 4px 1px #0176bc38;
}

.skin__header {
    color: #0176BC;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    margin-top: 20px;
    margin-left: -8px;
}

.nav__items {
    font-family: 'Andada Pro';
    font-weight: 700;
    font-size: 16px;
    color: #016DAD;
    margin-top: 2px;
}

.header__icons a {
    padding: 6px 10px 6px 10px;
    border-radius: 50px;
    background: linear-gradient(90deg, #0176BC 0%, #18CCE7 87.96%);
}

.header__icons i,
.shoop__nav i {
    color: #fff;
}

.icon__nav {
    padding: 6px 13px 6px 13px!important;
}

.shoop__nav {
    width: 100px;
    margin-left: 15px;
    height: 32px;
    background: linear-gradient(270deg, #18CCE7 44.13%, #18CCE7 44.14%, #0176BC 107.48%);
    border-radius: 50px 0px 0px 50px;
    display: flex;
}

.shoop__nav a {
    margin-top: 2px;
}

.barra {
    background: #fff;
    width: 1px;
    height: 23px;
    margin: 4px 0px 0px 0px;
}

.icon_a {
    margin-left: 16px;
}

.icon_b {
    margin-right: 16px;
}


/*-- ABOUT--*/

section.abuot .container {
    display: flex;
    flex-wrap: nowrap;
}

.about__img>div>img:nth-child(1) {
    margin-top: 17em;
    position: relative;
}

.about__img>div>img:nth-child(2) {
    margin-left: -127px;
}

.about__img {
    position: relative;
    margin-top: -60px;
    margin-bottom: 60px;
}

.fraja-blue {
    position: absolute;
    width: 380px;
    background: #94DCEE;
    left: 0px;
    margin-left: -116px;
    height: 100%;
}

.about {
    width: 100%;
}

.abouts__imag img {
    border-radius: 0px 0px 100px 0px;
    border: 4px solid white;
    object-fit: cover;
    height: 353px;
}

.abouts__img img {
    position: absolute;
    width: 240px;
    height: 328px;
    left: 70px;
    top: 1011px;
    box-sizing: border-box;
    border-radius: 0px 0px 100px 0px;
}

.info__aboutt {
    overflow-x: hidden;
}

.info__about:before {
    content: "";
    background-image: url('../img/LOGO.png');
    background-repeat: no-repeat;
    background-size: 31em;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -348px;
    display: flex;
    height: 31em;
    pointer-events: none;
    width: 35em;
    opacity: .1;
}

.info__abouts p {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #00000085;
}

.pa__about {
    margin-bottom: 10px;
}

.icon_card {
    padding: 10px 12px 10px 12px;
    border-radius: 50px;
    background: linear-gradient(90deg, #0176BC 0%, #18CCE7 87.96%);
    margin-left: 145px;
    color: #fff;
}


/*CLASES UNIVERSALES*/

.rectangular-radius-blue {
    height: 100px;
    width: 20px;
    background: linear-gradient(45deg, #14bcdf, #0176bc);
    border-radius: 0 0 12px 12px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}


/*text*/

h4.title__about {
    background: linear-gradient(45deg, #0689c6, #18cce7);
    width: max-content;
    padding: 0px 100px 0px 20px;
    border-radius: 0 25px 25px 0;
    color: white;
    font-family: Jost;
    font-weight: 700;
    font-size: 35px;
    line-height: 50.58px;
    margin-left: 20px;
    margin-bottom: 1.2em;
}


/*BUTTON*/

.info__abouts .btn-unic {
    background: #0176BC;
    border-radius: 25px;
    background: #0176BC;
    border-radius: 25px;
    font-family: "Andada Pro";
    font-weight: 400;
    line-height: 23.54px;
    align-items: flex-end;
    text-align: center;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 0px 1px #0176bc;
    border: 2px solid white;
    padding: 12px 60px 13px 61px;
}

.info__abouts .btn-unic:hover{
    opacity: .8;
}


/*-- -----------FIN ABOUT-------------------*/


/*-------------- Carousel Products-------------*/

.products__carou {
    padding: 0px 0px 90px 0px;
    background: rgba(24, 204, 231, 0.16);
}

.icon_card {
    padding: 10px 12px 10px 12px;
    border-radius: 50px;
    background: linear-gradient(90deg, #0176BC 0%, #18CCE7 87.96%);
    margin-left: 145px;
    color: #fff;
}

.barra__card {
    width: 95px;
    margin-left: -15px;
    height: 32px;
    background: linear-gradient(270deg, #18CCE7 44.13%, #18CCE7 44.14%, #0176BC 107.48%);
    border-radius: 0px 50px 50px 0px;
    display: flex;
}

.text__card {
    color: #fff;
    margin: 3px 0px 0px 23px;
}

.title__pro {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #0176BC;
    text-align: center;
    margin-bottom: 15px;
}

.products__carou .card-body {
    width: 209px;
    height: 48px;
    left: 524px;
    top: 1130px;
    background: #0176BC;
    border-radius: 0px 0px 60px 60px;
}

.products__carou .owl-carousel .owl-item .content-img {
    display: block;
    width: 209px;
    height: 250px;
    border: 3px solid #0176bca6;
    border-radius: 120px 120px 0px 0px;
    overflow: hidden;
}

.products__carou .owl-item .card {
    transform: translate3d(0, 0, 0);
    /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
    transform: scale(0.9);
    transition: all .25s ease-in-out;
    margin: 50px 0;
    /* OVERWRITE PLUGIN MARGIN */
}

.products__carou .owl-item .item .card {
    -webkit-transition: 0.3s;
    /*  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); */
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
}

.products__carou .owl-item.center .item .card {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.content-img:hover {
    border-color: #18CCE7!important;
}

.content-img img {
    height: 100%;
    width: 100%;
    transition: .3s;
}

.products__carou .card {
    border: none;
}

.cont__card a {
    position: absolute;
    display: flex;
    margin-top: -64px;
}

.title__card {
    color: #fff;
    margin-top: -9px;
    text-align: center;
}

.products__carou .owl-stage-outer {
    padding: 0px 0px 0px 100px;
}


/*--------------Fin Carousel Products-------------*/


/*--------------SHOP GALERIA-------------*/

.shop__galeria {
    background-image: url('../img/BACKGROUND-CATEGORY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.marg__shop {
    margin-bottom: 67px;
}

.shop__galeria:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: rgb(255 255 255);
    opacity: 0.7;
    z-index: 1;
}

.title__shop {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #0176BC;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 3;
}

.shop__galeria .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 15px;
    position: relative;
    z-index: 3;
}

.shop__galeria .container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    left: 291px;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));
}

.container img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.imag__lef {
    margin-left: 115px;
}

.imag__center {
    margin-left: 50px;
}

.imag__rigth {
    margin-left: -15px;
}

.img__a {
    border-radius: 100px 0px 0px 0px;
}

.img__b {
    border-radius: 0px 100px 0px 0px;
}

.img__c {
    border-radius: 0px 0px 0px 100px;
}

.img__d {
    border-radius: 0px 0px 100px 0px;
}

.btn__shop {
    position: relative;
    width: 277px;
    height: 60px;
    font-size: 1.5rem;
    color: #fff;
    background: #FF7A59;
    border-radius: 60px;
    margin-top: 40px;
    z-index: 3;
}
.btn__shop:hover{
    opacity: .8;
}
.btn__shop:before {
    content: "";
    position: absolute;
    height: 68px;
    width: 285px;
    border-radius: 60px;
    margin-top: -16px;
    margin-left: -85px;
    border: 1px solid #FF7A59;
}


/*--------------FIN SHOP GALERIA-------------*/


/*--------------BENEFICTS------------*/

.benefits {
    padding: 60px 40px 100px 40px;
}

.img__benef img {
    width: 363px;
    height: 464px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 130px 0px;
}

.blue__cir {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 0px 40px 40px 40px;
    background: linear-gradient(180deg, #0176BC 0%, #18CCE7 100%);
}

.icon__bene {
    width: 50px;
    position: absolute;
    margin: 9px 0px 0px 9px;
    height: 50px;
}

.benefits span {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    margin-top: 12px;
    color: #0176BC;
}

.marg__icon {
    margin: 1px 40px 40px 105px;
}

.icons {
    margin: 100px 0px 0px 0px;
}

.marg__title {
    margin-bottom: 60px!important;
    margin-left: 0!important;
}

.marg__pa {
    margin-bottom: 30px;
}

.title__img {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -5px 4px 4px rgba(0, 0, 0, 0.3);
}

h3.title__img:after {
    content: "";
    height: 257px;
    width: 340px;
    position: absolute;
    border: 2px solid #035c92;
    margin-top: 43px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 130px 0px;
}

.title__img {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -5px 4px 4px rgb(0 0 0 / 30%);
    position: absolute;
    margin-top: -272px;
    text-align: center;
    margin-left: 50px;
}

.des__benef {
    padding-left: 45px;
}

.title__sub {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #0176BC;
}

.sub__email {
    width: 360px;
    height: 50px;
    border: 0;
    background: #E2E0E0;
    border-radius: 60px;
    margin-right: 50px;
}

.btn__sub {
    background: #0176BC;
    border-radius: 25px;
    background: #FF7A59;
    border-radius: 25px;
    font-family: "Andada Pro";
    font-weight: 400;
    line-height: 23.54px;
    align-items: flex-end;
    text-align: center;
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 0px 1px #ff7a59;
    border: 2px solid white;
    padding: 12px 71px 13px 70px;
}
.btn__sub:hover{
    opacity: .8;
}
.subscribe {
    padding: 40px 0px 80px 0px;
}

.cont__sub {
    padding-left: 150px;
}


/*--------------FIN BENEFICTS------------*/


/* FOOTER */

.footer__options {
    background: linear-gradient(180.73deg, #0176BC 10.72%, #18CCE7 38.36%);
    border-radius: 64px;
    padding-top: 80px;
}

.footer__options li,
a,
i,
p {
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.cont__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__footer h4 {
    color: #fff;
    font-weight: bold;
}

.footer__options a {
    margin-left: -29px;
}

.a__foot {
    margin-bottom: 5px;
}

.footer__options a:hover,
.foot__icons i:hover {
    color: #035c92;
    font-weight: 600;
}

.cont__footer {
    display: flex;
    justify-content: space-around;
    background: #035C92;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
    position: relative;
    color: #fff;
}

.cont__foot {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top: -25px;
}

.img_foot {
    object-fit: cover;
    width: 167px;
    height: 147px;
    align-content: center;
}

.li__footer {
    padding: 0px 0px 0px 130px;
}

.foot__icons {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: center;
    font-size: 20px;
    position: relative;
    margin-top: 15px;
    margin-left: 60px;
}

.li__foot {
    padding-left: 65px;
}

.li__foot li,
.li__footer li {
    margin-bottom: 20px;
    position: relative;
}

.li__foot li:before {
    position: absolute;
    content: "";
    background: #ff9900;
    background: #004066;
    border-radius: 50px;
    width: 11px;
    align-content: start;
    height: 11px;
    bottom: 6px;
    left: -50px;
}

.li__foot ul {
    padding-left: 50px;
}

.li__foot h4,
.li__footer h4 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.li__footer i {
    font-size: 30px;
}

.li__footer span {
    margin-left: 15px;
}

.li__footer h4 {
    margin-left: 24px;
}

.copyright__logo {
    margin-right: 180px;
}


/* FOOTER */

.testimonials {
    background: rgba(24, 204, 231, 0.16);
}

.title__tes {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #0176BC;
    margin-left: 60px;
    margin-top: 50px;
}

.fond__tes {
    background: #0176BC;
    border-radius: 60px;
    padding: 10px 60px 10px 60px;
}

.fond__tes i {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.desc__tes {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.58);
    margin-top: 35px;
    margin-bottom: -12px;
    text-align: justify;
}

.img__tes {
    width: 250px!important;
    height: 268px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 130px 0px 0px;
}

.btn__edit {
    position: absolute;
    width: 277px;
    height: 60px;
    font-size: 1.5rem;
    color: #fff;
    background: #FF7A59;
    border-radius: 60px;
    margin-top: -100px;
    margin-left: 526px;
    box-shadow: 0px 0px 0px 1px #ff7a59;
    border: 2px solid #daf7fb;
}
.btn__edit:hover{
    opacity: .8;
}
.marg__tes {
    padding: 56px 100px 175px 282px;
}

.testimonials .owl-nav {
    float: right;
}

.mask-icons {
    display: flex;
    align-items: baseline;
    height: fit-content;
    width: fit-content;
    position: absolute;
    float: right;
    right: 0;
    margin-top: 9%;
    z-index: -1;
}

.icon-ovle {
    width: 200px;
    border: 1px solid #B7E7F3;
    height: 150px;
    border-radius: 80px 0 0 80px;
}

.icon-circle {
    height: 80px;
    width: 80px;
    margin-right: -92px;
}

.circle-ms {
    height: 100px;
    width: 100px;
    right: 22px;
    margin-bottom: -58px;
    margin-left: auto;
}

.icon-circle,
.circle-ms {
    background: linear-gradient(45deg, #14bcdf, #0176bc);
    border-radius: 50%;
    position: relative;
    top: 30px;
    opacity: .2;
}

.mask-icons-line {
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    z-index: -1;
}

.icon-line {
    width: 300px;
    background: #0176bc;
    height: 2px;
}
.test-line{
    width: 236px!important;
}
.test__ovle{ 
margin-left: -128px!important;
}
.icon-ovle-top {
    height: 230px;
    width: 185px;
    background: linear-gradient(45deg, #14bcdf, #0176bc);
    border-radius: 50% 50% 0 0;
    opacity: .3;
    margin-left: -55px;
}

.ovle-middle {
    height: 326px;
    width: 180px;
    border: 1px solid #0176bc;
    border-radius: 100px;
    opacity: .5;
    margin-bottom: -168px;
    position: relative;
}

.mask-miltiple-circle {
    margin-left: -50px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.circle-white {
    height: 400px;
    width: 400px;
    margin-top: -39%;
    margin-right: -7%;
    margin-left: auto; 
    background:#D5F6FB;
    border-radius: 50%;
    margin-bottom: -130px;
}

.mask-cate-shop {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    transform: rotateY(0deg) rotate(180deg);
    z-index: 2;
    margin-right: -2%;
}

.mask-cate-shop-left {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin-top: 5em;
    margin-bottom: auto;
    left: 0;
    transform: rotateY(0deg) rotate(90deg);
    z-index: 2;
    margin-left: -10%;
}

@media (min-width: 0px) and (max-width: 767px) {
    /*--------RESPONSIVE PARA MOVILES-----------*/
.cont__header h1 {
        margin-top: -125px;
    }
.header__icons , .shoop__nav {
        display: none;
    }
    header {
        height: 80vh;
    }
    .abouts__imag img {
        height: 325px;
        margin-left: 40px;
    }
    .fraja-blue {
     width: 281px;
    }
    h4.title__about{
        font-size: 25px;
        line-height: 45.58px;
        padding: 0px 72px 0px 20px;
        margin-left: 40px; 
    }
    .info__abouts p{
        padding: 0px 20px 0px 20px;
        line-height: 25px;
    }
    button.btn-unic {
        margin-bottom: 30px;
        margin: 0px 70px 29px 0px;
    }
    .shop__galeria .container img {
        width: 265px;
        height: 265px;
    }
    .imag__lef {
        margin: 0px 0px 30px 60px;
        border-radius: 0px!important;
    }
    .imag__center {
        margin: 0px 0px 30px 60px;
    }
    .marg__shop {
        margin-bottom: 0px; 
    }
    .img__b {
        border-radius: 0px;
    }
    .imag__rigth {
        margin: 0px 0px 30px 60px;      
    }
    .img__d {
        border-radius: 0px;
    }
    .products__carou{
        padding: 0px;
    }
    .circle-white{
        margin-top: -72%;
        margin-right: -34%;
    }
    .img__benef img {
        width: 310px;
        height: 416px;
        margin-top: 60px;
    }
    .title__img {
        margin-left: 20px;
    }
    h3.title__img:after {
        height: 235px;
        width: 305px;
        top: 12px;
        border-radius: 0px 0px 139px 0px;
    }
    .img__benef{
        margin-bottom: 45px;
    }
    .des__benef {
        padding-left: 12px;
    }
    .icons {
        margin: 40px 1px -70px 1px;
    }
    .blue__cir {
        margin: 0px 40px 40px 0px; 
    }
    .marg__icon {
        margin: 1px 40px 40px 92px;
    }
    .rectangular-radius-blue {
    margin-left: 30px!important;
    }
    .title__tes {
        font-size: 24px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .marg__tes {
        padding: 40px 30px 40px 31px;
    }
    .img__tes {
        border-radius: 0px;
        margin: 0px 0px 70px 64px;
    }
    .form__sub {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cont__sub {
        padding-left: 0px;
    }
    .title__sub {
        font-size: 30px;
       line-height: 45px;
    }
    .sub__email {
        width: 330px;
        margin: 20px 0px 20px 0px;
    }
    .subscribe {
        padding: 40px 0px 50px 0px;
    }
    .li__footer {
        padding: 0px 0px 20px 87px;
    }
    .li__foot {
        margin-left: 140px;
        padding: 0;
    }
    .copyright__logo {
        margin-right: 0px;
    }
    .center__rect {
        margin-left: 195px!important;
    }
    .products__carou .circle-white{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .cont__header h1 {
        margin-top: -52px;
    }
    header {
        height: 80vh;
    }
    .circle-white {
        display: none;
    }
    .products__carou {
        padding: 0px;
    }
    .products__carou .owl-stage-outer {
        padding: 0px!important;
    }
    .abuot{
        padding: 0px 0px 40px 0px;
    }
   .info__about {
        margin-top: 102px;
    }
    .fraja-blue {
        width: 300px;
    }
    .abouts__imag img {
        height: 330px;
    }
    .about__img>div>img:nth-child(1) {
        margin-top: 10em;
    }
    .img__no{
        display: none;
    }
    .imag__lef {
        margin-left: 55px;
    }
    .imag__center {
        margin-left: 25px;
    }
    .imag__rigth {
        margin-left: 0px;
    }
    .shop__galeria .container img {
        width: 170px;
        height: 169px;
    }
    .marg__shop {
        margin-bottom: 40px;
    }
    .aline__shop {
        flex-wrap: wrap;
    }
    .marg__tes {
        padding: 50px 60px 130px 100px;
    }
    .li__footer {
        padding: 0px 0px 0px 40px;
    }
    .li__footer i {
        font-size: 25px;
    }
    .cont__foot {
        padding-left: 60px;
    }
    .copyright__logo {
        margin-left: 40px;
    }
    .title__sub {
        margin: 0px 0px 25px -30px;
    }
    .btn__sub {
        font-size: 28px;
        padding: 10px 58px 13px 58px;
        margin-left: -25px;
    }
    .sub__email {
        width: 275px;
    }
    .img__tes {
        width: 190px!important;
        height: 200px;
    }
    .title__tes {
    margin-left: 25px;
    margin-top: 52px;
    }
    .marg__tes {
        padding: 10px 40px 120px 80px;
    }
    .btn__edit {
        width: 240px;
        margin-left: 241px;
    }
}